    <div class="row inner-head">
      <!--div class="col-1">
        Icon
      </div-->
      <div class="col-12">

        <h1>
          SQUIER R P1 GAS PAD
        </h1>
      </div>
    </div>


<div class="row">
  <!--div class="col-1">
  </div-->
  <div class="col-12" >
    <ngb-tabset  #t="ngbTabset">
      <ngb-tab title="Type of Inspection" id="type">
        <ng-template ngbTabContent>
          <p>Type of Inspection tab content here...</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Findings" id="findings">
        <ng-template ngbTabContent>
          <p>Findings tab content here...</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Summary" id="summary">
        <ng-template ngbTabContent>
          <ul class="row sub-navs">
              <li><a href="#">PICTURES</a></li>
              <li><a href="#">NARRATIVE</a></li>
              <li><a href="#">ASSISTANCE</a></li>
              <li><a href="#" class="active">CLIENT DETAIL INFO</a></li>
              <li><a href="#" class="more-icon">MORE</a></li>
          </ul>

          <div class="row form head">
            <div class="col-6">
              <h1>Client Information</h1>
            </div>
            <div class="col-6 right"> <button type="button" class="btn orangebtn">Save</button></div>
          </div>
          <div class="row form">
            <div class="col-12">
              <input type="text" class="form-el" placeholder="Client Name"/>
            </div>
          </div>
          <div class="row form">
            <div class="col-12">
              <input type="text" class="form-el" placeholder="Address"/>
            </div>
          </div>
          <div class="row form">
            <div class="col-12">
              <input type="text" class="form-el" placeholder="Address"/>
            </div>
          </div>
          <div class="row form">
            <div class="col-12">
              <input type="text" class="form-el" placeholder="City"/>
            </div>
          </div>
          <div class="row form">
            <div class="col-6" style="padding-right: 10px;">
             <input type="text" class="form-el" placeholder="State"/>
            </div>
            <div class="col-6">
            <input type="text" class="form-el" placeholder="Zipcode"/>
            </div>
          </div>

          <div class="row form head">
            <div class="col-12">
              <h1>Responsible Official Information</h1>
            </div>
          </div>
          <div class="row form">
            <div class="col-12">
              <input type="text" class="form-el" placeholder="Name"/>
            </div>
          </div>
          <div class="row form">
            <div class="col-12">
              <input type="text" class="form-el" placeholder="Phone"/>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>



